body {
  background-image: url('../img/bg7.png');
  background-size: cover;
  color: white;
  overflow: hidden;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
}

.modal-content{
  border-radius: 40px;
  background-color: #FEFCFF;
  color: #0A2037;
}
#tips img{
  width: 25px;

}
.modal-content td{
  color: #0A2037;
  font-family: 'Ropa Sans', sans-serif;
  border: 0;
}
.btn{
  background-color: rgba(255, 255, 255, 0);
}
.btn img{
  width: 20px;
  height: 20px;
}
#score-box{
  margin-left: 10px;
  border-right: 1px solid #e4e4e4;
}
#buttons{
  margin-left: -10px;
}
h1 {
  text-align: center;
  font-family: 'Sigmar One', cursive;
}
#gameboard, #control {
  margin: 30 auto;
  background-color: rgba(255, 255, 255, 0.3);
}
td{
  height:70px;
  width: 70px;
  border: 1px solid #e4e4e4;
}
.follow{
  position: absolute;
  height: 70px;
  width: 70px;
}
#gameboard {
  height: 420;
}
#control {
  width: 200px;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#next {
  height: 150px;
  padding: 25px;
}

/*Object*/
.a{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /*border-radius: 30px;*/
  /*background: #11d1c8;*/
  content: url('../img/1.png');
}

.a-info::after{
  content:"Combine three earths into moon";
}

.b-info::after{
  content:"Combine three moons into mars";
}

.enemy-info::after{
  content:'This is an enemy!';
}

.destruct-info::after{
  content:'Erase existing object';
}

.crystal-info::after{
  content:'Upgrade any two objects';
}

.e-info{
  content:'Combine three earths into one moon';
}

.b{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /*border-radius: 30px;
  background: #dd86ff;*/
  content: url('../img/2.png');
}

.c{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /*border-radius: 30px;
  background: #ff77b1;*/
  content: url('../img/3.png');
}

.d{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /*border-radius: 30px;*/
  /*background: #ffa268;*/
  content: url('../img/4.png');
}

.e{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /*border-radius: 30px;*/
  /*background: #ffd271;*/
  content: url('../img/5.png');
}

.enemy{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  content: url('../img/alien.png');
}

.crystal{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  content: url('../img/solar-system.png');
}

.destruct{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  content: url('../img/meteorites.png');
}

.obstacle{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  content: url('../img/obstacle.png');
}

#instruct {
  height: 50px;
}
/*.container{
  width: 700px;
}

.col-xs-1 {
  border: 1px solid red;
  height:100px;
}*/